{% extends "home/base.html" %}
{% load static %}
{% block content %}
<header class="mini-masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-center">
                <h1 class="text-white font-weight-bold">Mentions légales</h1>
            </div>
        </div>
    </div>
</header>

<section class="page-section text-center" id="details">
    <div class="container px-4 px-lg-5">
        <div class="row">
            <p>Application hébergée via <a href="https://www.herokuapp.com/">Heroku</a>.</p>
            <p>Charte graphique: <a href="https://app.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide">Pur Beurre
                    Style</a>.</p>
            <hr class="divider" />
            <p>Template utilisé: <a href="https://blackrockdigital.github.io/startbootstrap-creative/">Creative</a>
                (<i>crédit: Start Bootstrap</i>).</p>
            <p>Background utilisé: <a href="https://unsplash.com/photos/k60JspcBwKE">Unsplash</a> (<i>crédit: Kawin
                    Harasai</i>).</p>
            <p>Icône Carrotte: <a href="https://thenounproject.com/term/carrot/29691/">The Noun Project</a> (<i>crédit:
                    Fabien Jouin</i>).</p>
            <hr class="divider" />
            <p>Conception et réalisation: <a href="https://github.com/fr0zie-OpenClassrooms/">Axel Rayet</a>.</p>
        </div>
    </div>
</section>
{% endblock %}