{% extends "home/base.html" %}
{% load static %}
{% block content %}
<header class="small-masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-center">
                <h1 class="text-white font-weight-bold">Ahoy</h1>
                <h2 id="username" class="text-white font-weight-light">{{request.user}} !</h2>
            </div>
        </div>
    </div>
</header>

<section class="page-section" id="user-infos">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center">
                <div class="input-group input-group-lg">
                    <input id="email" type="text" class="form-control text-center" value={{request.user.email}}
                        disabled>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}