{% extends "home/base.html" %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center text-center">
            <div class="card">
                <div class="card-title text-center border-bottom">
                    <h2>Réinitialiser mon mot de passe</h2>
                </div>
                <div class="card-body">
                    <div class="input-group mb-3 justify-content-center">
                        <p>Email envoyé !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}